.navbar-custom {
  background: rgb(215,212,246);
  background: linear-gradient(90deg, rgba(215,212,246,1) 22%, rgba(64,174,255,1) 55%);
    border-bottom:2px solid white;
    width:100vw;
    height:300px;
    
    gap:1px;
  }

.sup{
  font-size:32px;
  color:rgba(0, 0, 0, 0.684);
  text-shadow: 0px 0px 11px rgba(0, 153, 255, 0.49);
  font-weight:bold;
  cursor:pointer;
  transition:all 0.4s ease-out;
  text-decoration: none;
}

.sup::after{
  content:'';
  display:block;
  border-top:3px solid black;
  width:100%;
}

.sup::before{
  content:'';
  display:block;
  border-top:3px solid black;
  width:100%;
}
.sup:hover{
  transform:translateY(-5px);
  color:black;
  text-shadow: 0px 0px 11px rgba(0, 155, 255, 1);

}


  