<div class="general">



<main class="container">

    <section id="business-card" class="wizytowka">
        <picture>
        <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/ama-dablam-mountain-peak-view-from-chola-pass-royalty-free-image-1623254695.jpg" alt="">
        </picture> 
        <div class="background">
            <h1>biuro turystyczne</h1>   
            <p>Zapewniamy doświadczonych przewodników</p>
            <p>Atrakcyjne oferty czekają na ciebie</p>
            
            <p>Wystarczą 3 kliknięcia i gotowe</p>
            <div class="choose">     
                <span>z / bez przewodnika</span>
                <span>małe grupy turystyczne</span>  
                <span>duże grupy turystyczne</span>    
            </div>
            </div>
      
    </section> 
    <aside id="myProfile">
        <div class="content">
            <hgroup>
                <h1 class="cont">Biuro turystyczne</h1>
                <h2 class="cont">Napisz do nas:</h2>
                <h3 class="display-3" style="color:darkblue">biuro.turystyczne@op.pl</h3>
                <p class="cont">+48662595432</p>
                <h3 class="cont">Gdzie nas znajdziesz:</h3>   
                <a href="https://github.com/" target="_blank"><span>Twitter</span></a>
                <a href="https://github.com/" target="_blank"><span>Youtube</span></a>
                <a href="https://github.com/" target="_blank"><span>Facebook</span></a>
                <a href="https://github.com/" target="_blank"><span>Instagram</span></a>
            </hgroup>
        </div>
    </aside>
    
    <section id="localization">
        <h1 class="display-1" style="color:darkblue">Nasza lokalizacja:</h1>
        <div class="localiz">
            <iframe #map class="framik" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2560.6813186775234!2d19.930905815403865!3d50.073529579425035!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47165b9da4fcb661%3A0x534fe4c974eda369!2sBiuro%20Turystyczne%20%22Belferek%22!5e0!3m2!1sen!2spl!4v1671281782499!5m2!1sen!2spl" width="600"height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
         </section> 
    
       


</main>
</div>